.privacyContainer {
  max-width: 100%;
  width: 60vw;
  height: auto;
  background-image: url(./src/assets/terms&condition.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 3em auto;
  padding: 2em;
  background-color: #e3dada;
  border-radius: 1em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.privacyTitle {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 3em;
  color: #222;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.privacySection {
  margin-bottom: 2em;
  padding: 1em;
}

.privacySection h2 {
  font-size: 1.2em;
  text-align: center;
  color: #333;
  margin-bottom: 8px;
}

.privacySection p,
.privacySection ul {
  font-size: 0.9em;
  text-align: left;
  color: #555;
  list-style-type: none;
  width: 65vw;
  margin-left: -1.5em;
}
.privacySection ul li {
  margin-bottom: 0.5em;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .privacyTitle {
    font-size: 2em;
  }

  .privacySection {
    margin-bottom: 2em;
    padding: 1em;
  }

  .privacySection h2 {
    font-size: 1.6em;
  }

  .privacySection p,
  .privacySection ul {
    font-size: 1.1em;
    margin-left: -1.5em;
  }
}
@media (min-width: 1025px) {
  .privacyTitle {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .privacySection {
    margin-bottom: 2em;
    padding: 1em;
  }

  .privacySection h2 {
    font-size: 2em;
  }

  .privacySection p,
  .privacySection ul {
    width: 60vw;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
}
@media (min-width: 1440px) {
  .privacyTitle {
    font-size: 5em;
    margin-bottom: 1em;
  }

  .privacySection {
    margin-bottom: 2em;
    padding: 1em;
  }

  .privacySection h2 {
    font-size: 3.5em;
  }

  .privacySection p,
  .privacySection ul {
    width: 60vw;
    font-size: 3em;
    margin-left: 0.5em;
  }
}
